<form action="/itinerary/edit/<%= itinerary.id %>" method="POST">

    <input 
    type="text"
    name="location_name"
    value="<%= itinerary.location_name %>"
    >

    <input
        type="text"
        name="latitude"
        value="<%= itinerary.latitude %>"
    >

    <input
        type="text"
        name="longitude"
        value="<%= itinerary.longitude %>"
    >

    
    <input
    type="datetime-local"
    name="visit_time"
    value="<%= itinerary.visit_time ? new Date(itinerary.visit_time).toISOString().slice(0,16) : '' %>"
    >

    <button type="submit">Save</button>

</form>