<h2>My Itinerary</h2>

<a href="/itinerary/add">Add Location</a>

<table>
    <tr>
        <th>Location</th>
        <th>Country</th>
        <th>Date</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>

    <% itineraries.forEach(item => { %>

    <tr>

        <td><%= item.location_name %></td>
        <td><%= item.latitude %></td>
        <td><%= item.longitude %></td>
        <td><%= item.visit_time %></td>

        <td>

            <a href="/itinerary/edit/<%= item.id %>">
                Edit
            </a>

            <form action="/itinerary/delete/<%= item.id %>" method="POST">
                <button>Delete</button>
            </form>

        </td>

    </tr>

    <% }) %>

</table>